.container{
    color: black;
    display: flex;
    flex-direction: column;

}
.container hr{
    height:2px;
    background-color: black;
}
.container ul li{
    display:flex;
    align-items: center;
    height: 60px;
    padding-left: 15px;
    border: 1px solid grey;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 20px;
    cursor: pointer;

}
.select{
    background-color: rgb(154, 181, 216);
    border-color:rgb(183, 222, 183);
}
