*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
body{
  height: 100vh;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p{
  font-size: 1.8vh;
}

h1{
  text-decoration: underline;
}